* {
  box-sizing: border-box;
}

p, h4 {
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gameModule, .designModule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.gameModule {
  border: 2px solid red;
}

.designModule {
  border: 2px solid blue;
}

.playingField, .levelDesigner {
  width: 1004px;
  height: 629px; 
  display: grid;
  grid-template-rows: repeat(25, 1fr);
  grid-template-columns: repeat(40, 1fr);
  border: 2px solid green;
}

.gridRow {
  display: flex;
}

.gridSquare, .designSquare {
  width: 25px;
  height: 25px;
  font-size: 10px;
  box-shadow: 1px 1px inset;
}

.block {
  background-color: #81C76D;
}

.street {
  background-color: #343434;
}

.playerHome {
  background-color: rgba(0, 0, 255, 0.4);
}

.bossHome {
  background-color: rgba(255, 0, 0, 0.4);
}

.office {
  background-color: rgba(0, 255, 0, 0.4);
}

.playerCar, .bossCar {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 13px;
  z-index: 100;
}

.playerCar {
  background-color:blue;
}

.bossCar {
  background-color: red;
}

.win, .loss {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.designTools {
  display: flex;
  flex-direction: column;
}

.designToolSelector {
  display: flex;
}

.designToolSelector label {
  display: inline-block;
  margin: 20px 30px;
}

.pathOption {
  background-color: orange;
}

.finalPath {
  background-color: yellow;
}

