* {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
  list-style: none;
}

h1.gameTitle {
  display: inline-block;
  background-color: darkgray;
  color: rgba(255, 211, 0, 1);
  font-family: "Press Start 2P", cursive;
  margin: 0;
  padding: 20px;
  border: 5px groove rgb(180, 180, 180);
  text-shadow: 4px 4px black;
}

h1.gameOverTitle {
  font-family: "Press Start 2P", cursive;
  margin: 0;
}

p,
h4,
h3,
ul {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

h3.designModuleTitle,
h4.designToolboxTitle {
  font-family: "Press Start 2P", cursive;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(80, 205, 255);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appHeader {
  padding: 30px;
}

.gameModule,
.designModule {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(80, 205, 255);
}

.designModule {
  align-items: center;
}

.playingField,
.levelDesigner {
  width: 1016px;
  height: 641px;
  display: grid;
  grid-template-rows: repeat(25, 1fr);
  grid-template-columns: repeat(40, 1fr);
  border: 8px groove rgb(180, 180, 180);
  /* border: 8px groove black; */
  /* border-image: url("../assets/rebar_border.png") 20% 20% 18; */
  background-color: white;
}

.levelsListContainer {
  width: 250px;
}

.levelsList {
  display: flex;
  flex-direction: column;
  border: 5px groove darkgray;
  margin: 20px 0;
  padding: 20px 0;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.levelItem {
  display: flex;
  align-items: center;
}

.levelIconWrapper {
  flex-basis: 85px;
}

.levelIcon {
  display: inline-block;
  width: 75px;
  height: 75px;
  background-image: url("../assets/level_icon.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.levelName {
  text-align: left;
  margin-left: 15px;
}

.gridRow {
  display: flex;
}

.gridSquare,
.designSquare {
  width: 25px;
  height: 25px;
  font-size: 10px;
  font-family: sans-serif;
  /* box-shadow: 1px 1px inset; */
}

.gridSquare {
  cursor: default;
}

.designSquare {
  cursor: pointer;
  box-shadow: 1px 1px inset;
}

.gridSquare.block {
  background-color: #81c76d;
}

.designSquare.block {
  background-color: lightgray;
}

.street {
  background-color: #343434;
}

.playerHome {
  background-color: rgba(0, 0, 255, 0.4);
}

.bossHome {
  background-color: rgba(255, 0, 0, 0.4);
}

.office {
  background-color: rgba(255, 211, 0, 1);
}

.playerCar,
.bossCar {
  display: inline-block;
  width: 25px;
  height: 25px;
  /* border-radius: 13px; */
  z-index: 100;
}

.playerCar {
  background-image: url("../assets/player_car.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.bossCar {
  background-image: url("../assets/boss_car.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.win,
.loss {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.win {
  background-color: rgb(127, 218, 100);
}

.loss {
  background-color: rgb(235, 85, 85);
}

.designTools {
  display: flex;
  flex-direction: column;
}

.designToolbox {
  display: flex;
  flex-direction: column;
  border: 5px groove darkgray;
  margin: 20px 0;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.designToolSelector {
  display: flex;
  flex-direction: column;
  border: 3px dashed darkgray;
  margin-bottom: 20px;
}

.designToolSelector label {
  display: inline-block;
  margin: 20px 30px;
}

.designToolSelector input {
  opacity: 0;
  height: 1px;
  width: 1px;
  display: inline;
  padding: 0;
  margin: 0;
}

.btn {
  display: inline-block;
  color: #fff;
  font-size: 1em;
  margin: 20px 0px;
  width: 200px;
  height: 50px;
  font-family: "Press Start 2P", cursive;
  border: 0;
  cursor: pointer;
}

.btn.play {
  background-color: rgb(130, 231, 104);
  box-shadow: -4px -4px rgb(50, 143, 50) inset, 0 -4px black, 4px 0 black,
    0 4px black, -4px 0 black;
}

.btn.mode {
  background-color: rgb(140, 66, 238);
  box-shadow: -4px -4px rgb(88, 41, 150) inset, 0 -4px black, 4px 0 black,
    0 4px black, -4px 0 black;
}

.btn.startOver {
  margin-top: 50px;
  background-color: rgb(86, 200, 253);
  box-shadow: -4px -4px rgb(7, 107, 153) inset, 0 -4px black, 4px 0 black,
    0 4px black, -4px 0 black;
}

.btn.save {
  background-color: rgb(255, 183, 88);
  box-shadow: -4px -4px rgb(209, 131, 28) inset, 0 -4px black, 4px 0 black,
    0 4px black, -4px 0 black;
}

.btn.tool {
  width: 130px;
}

.btn.tool.ph {
  background-color: rgba(0, 0, 255, 0.4);
  box-shadow: -4px -4px rgba(0, 0, 63, 0.4) inset, 0 -4px black, 4px 0 black,
    0 4px black, -4px 0 black;
}

.btn.tool.bh {
  background-color: rgba(255, 0, 0, 0.4);
  box-shadow: -4px -4px rgba(24, 0, 0, 0.329) inset, 0 -4px black, 4px 0 black,
    0 4px black, -4px 0 black;
}

.btn.tool.o {
  background-color: rgba(255, 211, 0, 1);
  box-shadow: -4px -4px rgb(153, 128, 0) inset, 0 -4px black, 4px 0 black,
    0 4px black, -4px 0 black;
}

.btn.tool.st {
  background-color: #585858;
  box-shadow: -4px -4px #343434 inset, 0 -4px black, 4px 0 black, 0 4px black,
    -4px 0 black;
}

.btn.tool.erase {
  background-color: lightgray;
  box-shadow: -4px -4px rgb(114, 114, 114) inset, 0 -4px black, 4px 0 black,
    0 4px black, -4px 0 black;
}

.buttons {
  width: 250px;
}

.toolLabel {
  display: inline-block;
}

/* .pathOption {
  background-color: orange;
}

.finalPath {
  background-color: yellow;
} */
